{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
<h1>Добавление учащегося</h1>
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <div class="create">
        <label for="first_name">Имя:</label>
        <input type="text" name="first_name" required><br>
        <label for="last_name">Фамилия:</label>
        <input type="text" name="last_name" required><br>
        <label for="age">Возраст:</label>
        <input type="number" name="age" required><br>
        <label for="course">Курс:</label>
        <select name="course" required>
            <option value="1">1-й курс</option>
            <option value="2">2-й курс</option>
            <option value="3">3-й курс</option>
        </select><br>
        <label for="instrument">Музыкальный инструмент:</label>
        <select name="instrument" required>
            <option value="Пианино">Пианино</option>
            <option value="Гитара">Гитара</option>
            <option value="Скрипка">Скрипка</option>
        </select><br>
        <label for="performance">Успеваемость:</label>
        <select name="performance" required>
            <option value="1">1</option>
            <option value="2">2</option>
            <option value="3">3</option>
            <option value="4">4</option>
            <option value="5">5</option>
            <option value="6">6</option>
            <option value="7">7</option>
            <option value="8">8</option>
            <option value="9">9</option>
            <option value="10">10</option>
            <option value="11">11</option>
        </select><br>
        <label for="payment_status">Оплатил/не оплатил обучение:</label>
        <input type="checkbox" name="payment_status"><br>
        <label for="image">Загрузить изображение:</label>
        <input type="file" name="image"><br>
        <button type="submit">Добавить</button>
        </div>
    </form>
{% endblock %}