<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
<h1>Добавление учащегося</h1>
    <form method="post"  enctype="multipart/form-data">
        {% csrf_token %}
        <label for="first_name">Имя:</label>
        <input type="text" name="first_name" required><br>
        <label for="last_name">Фамилия:</label>
        <input type="text" name="last_name" required><br>
        <label for="age">Возраст:</label>
        <input type="number" name="age" required><br>
        <label for="course">Курс:</label>
        <select name="course" required>
            <option value="1">1-й курс</option>
            <option value="2">2-й курс</option>
            <option value="3">3-й курс</option>
        </select><br>
        <label for="instrument">Музыкальный инструмент:</label>
        <select name="instrument" required>
            <option value="piano">Пианино</option>
            <option value="guitar">Гитара</option>
            <option value="violin">Скрипка</option>
        </select><br>
        <label for="performance">Успеваемость:</label>
        <input type="number" name="performance" required><br>
        <label for="payment_status">Оплатил/не оплатил обучение:</label>
        <input type="checkbox" name="payment_status"><br>
        <label for="image">Загрузить изображение:</label>
        <input type="file" name="image"><br>
        <button type="submit">Добавить</button>
    </form>
</body>
</html>