{% extends 'layout.html' %}

{% block title %}{% endblock %}

{% block content %}
    <h1>Данные ученика</h1>
    <form method="post">
        {% csrf_token %}
    <div class="info">

        <label for="first_name">Имя:</label>
        <p id="first_name">{{ student.first_name }}</p>

        <label for="last_name">Фамилия:</label>
        <p id="last_name">{{ student.last_name }}</p>

        <label for="age">Возраст:</label>
        <p id="age">{{ student.age }}</p>

        <label for="course">Курс:</label>
        <p id="course">{{ student.course }}</p>

        <label for="instrument">Музыкальный инструмент:</label>
        <p id="instrument">{{ student.instrument }}</p>

        <label for="performance">Успеваемость:</label>
        <p id="performance">{{ student.performance }}</p>

        <label for="payment_status">Оплатил обучение:</label>
        <input type="checkbox" id="payment_status" name="payment_status" {% if student.payment_status %}checked{% endif %} disabled>

        <a href="{% url 'students_list' %}">Вернуться к списку учащихся</a>
    </div>
    </form>
{% endblock %}